@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700;800&display=swap');

@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #ffffff;
}

input:focus {
    outline: none;
    border-color: #6D28D9;
    ring: 2px;
    ring-color: #F3E8FF;
}